####-*.patch
app.fil
*.pyc
*.swp
build/
dist/
*.egg/
.eggs/
contrib/pyinstaller/
Qtum_Electrum.egg-info/
qtum_electrum/gui/qt/icons_rc.py
qtum_electrum/locale/*/LC_MESSAGES/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
lib/paymentrequest_pb2.py
# tox files
.cache/
.coverage
.idea/
.pytest_cache/
contrib/build-osx/*.dylib
qtum-electrum-data/
