include LICENCE RELEASE-NOTES AUTHORS
include README.md
include qtum-electrum.conf.sample
include qtum-electrum.desktop
include *.py
include run_qtum_electrum
include requirements.txt
include requirements-fixed.txt
include requirements-binaries.txt
recursive-include qtum_electrum *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *