include LICENCE RELEASE-NOTES AUTHORS
include README.md
include qtum-electrum.conf.sample
include qtum-electrum.desktop
include *.py
include qtum-electrum
include requirements.txt
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *