[Desktop Entry]
Version=0.18.5
Name=Qtum Electrum
Comment=Qtum Light Client
Exec=qtum-electrum %u
Terminal=false
Type=Application
Icon=qtumelectrum
MimeType=x-scheme-handler/qtum;
Categories=Network;
StartupWMClass=qtum-electrum
Name[en_US]=qtum-electrum
