# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install qtum-electrum.desktop

[Desktop Entry]
Comment=Lightweight Qtum Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" qtum-electrum %u"
GenericName[en_US]=Qtum Wallet
GenericName=Qtum Wallet
Icon=electrum
Name[en_US]=Electrum Qtum Wallet
Name=Electrum Qtum Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/qtum;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" qtum-electrum --testnet %u"
Name=Testnet mode


