dnspython
ecdsa
jsonrpclib-pelix
pbkdf2
protobuf
publicsuffix
pyaes
PySocks
qrcode
requests
rsa
six
py2app==0.12
pyinstaller==3.3
trezor
btchip-python==0.1.24
keepkey
cython
jnius
git+https://github.com/icodeface/eth-utils
git+https://github.com/icodeface/eth-abi