ecdsa>=0.14
qrcode
protobuf>=3.12
dnspython<2.0
qdarkstyle<2.9
aiorpcx>=0.18,<0.19
aiohttp>=3.3.0,<4.0.0
aiohttp_socks>=0.3
certifi
bitstring
attrs>=19.2.0
eth-hash-qtum==0.2.0
eth-utils-qtum==1.9.5.1
eth-abi-qtum==2.1.1